<?xml version="1.0"?>

<launch>

    <rosparam file="$(find load_layout_data_node)/config/global.yaml" command="load"/>
    <node pkg="load_layout_data_node" name="global_path_node" type="global_path_node" respawn="false" output="screen">
        <rosparam subst_value="true">
          debug: true
          are_name: are_leapting
          extended_dis: 1.5

        </rosparam>
    </node>


    <arg name="global_path_node" default="0 "/>
    <group if="$(arg global_path_node)">
        <include file="$(find my_launchpad)/launch/layout_nav.launch"/>

        <node pkg="load_layout_data_node" name="robot_pose_remap" type ="robot_pose_remap" output="screen" />
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="global_path_node_rviz" args="-d $(find load_layout_data_node)/rviz_config/global_path_node.rviz" />
        <node name="map_server" pkg="map_server" type="map_server" args="$(find load_layout_data_node)/map/leapting.yaml" output="screen">
            <param name="frame_id" value="map"/>
        </node>

    </group>
</launch>
